<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppPooJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AlunoController</display-name>
    <servlet-name>AlunoController</servlet-name>
    <servlet-class>controle.AlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunoController</servlet-name>
    <url-pattern>/AlunoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UniversidadeController</display-name>
    <servlet-name>UniversidadeController</servlet-name>
    <servlet-class>controle.UniversidadeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UniversidadeController</servlet-name>
    <url-pattern>/UniversidadeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvaliacaoController</display-name>
    <servlet-name>AvaliacaoController</servlet-name>
    <servlet-class>controle.AvaliacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvaliacaoController</servlet-name>
    <url-pattern>/AvaliacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorController</display-name>
    <servlet-name>ProfessorController</servlet-name>
    <servlet-class>controle.ProfessorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorController</servlet-name>
    <url-pattern>/ProfessorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoordenadorController</display-name>
    <servlet-name>CoordenadorController</servlet-name>
    <servlet-class>controle.CoordenadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoordenadorController</servlet-name>
    <url-pattern>/CoordenadorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReitorController</display-name>
    <servlet-name>ReitorController</servlet-name>
    <servlet-class>controle.ReitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReitorController</servlet-name>
    <url-pattern>/ReitorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecretariaController</display-name>
    <servlet-name>SecretariaController</servlet-name>
    <servlet-class>controle.SecretariaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecretariaController</servlet-name>
    <url-pattern>/SecretariaController</url-pattern>
  </servlet-mapping>
</web-app>